/* GlobalStyles.css */
p {
    font-size: 16px; /* Adjust this value as needed */
    line-height: 1.6; /* Improves readability */
  }
  /* GlobalStyles.css */
.text-normal {
    font-size: 16px;
    line-height: 1.6;
  }
  
  .text-small {
    font-size: 14px;
    line-height: 1.5;
  }
  