table > a, a:visited {
    color:#1776f4 !important;
    font-weight:900;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
a:hover {
    background:inherit;
    opacity: .5;
}

/* table 水平スクロール */
table {
    display: block !important;
    overflow-x: scroll !important;
    white-space: nowrap !important;
    -webkit-overflow-scrolling: touch !important;
  }

  /* 横スクロールバー */
.tbl_wrap {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
    /* border-left:3px solid #efefef;
    border-top:3px solid #efefef; */
  }
  .tbl-inner {
    min-width: 800px; /* Ensures table is wide enough to trigger scroll */
    width: 100%;
    white-space: nowrap;
}
.tbl-inner td {
  max-width: 300px; /* Adjust based on your design */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
  .tbl_wrap::-webkit-scrollbar {
    height: 10px;
  }
  
  .result_table_wrap::-webkit-scrollbar-track {
    margin: 0 2px;
    background: #ccc;
    border-radius: 5px;
  }
  .result_table_wrap::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #666;
  }